
<footer class="container footer">
  <div class="col-md-4 text-left">
    <h1>Como Usar</h1>
    <ul>
      <li><a href="#" target="_blank">Olheiros</a></li>
      <li><a href="#" target="_blank">Jogadores</a></li>
    </ul>
  </div>
  <div class="col-md-4 text-left">
    <h1>Company</h1>
    <ul>
      <li><a href="#" target="_blank">Help</a></li>
      <li><a href="#" target="_blank">About us</a></li>
      <li><a href="#" target="_blank">Contact</a></li>
      <li><a href="#" target="_blank">Careers</a></li>
    </ul>
  </div>
  <div class="col-md-4 text-left">
    <h1>Social</h1>
    <ul>
      <li><a href="#" target="_blank">Facebook</a></li>
      <li><a href="#" target="_blank">Twitter</a></li>
      <li><a href="#" target="_blank">Google +</a></li>
      <li><a href="#" target="_blank">GitHub</a></li>
    </ul>
  </div>
</footer>