
<footer class="container-fluid footer text-center">
  <div class="container">
    <div class="col-md-4 text-center">
      <h1 class="footer-title">Como Usar</h1>
      <ul class="footer-list">
        <li><a href="#" target="_blank">Olheiros</a></li>
        <li><a href="#" t="t" text-centerarget="_blank">Jogadores</a></li>
      </ul>
    </div>
    <div class="col-md-4 text-center">
      <h1 class="footer-title">Company</h1>
      <ul class="footer-list">
        <li><a href="#" target="_blank">Help</a></li>
        <li><a href="#" target="_blank">About us</a></li>
        <li><a href="#" target="_blank">Contact</a></li>
        <li><a href="#" target="_blank">Careers</a></li>
      </ul>
    </div>
    <div class="col-md-4 text-center">
      <h1 class="footer-title">Social</h1>
      <ul class="footer-list">
        <li><a href="#" target="_blank"><i class="fa social-icon fa-facebook"></i>Facebook</a></li>
        <li><a href="#" target="_blank"><i class="fa social-icon fa-twitter"></i>Twitter</a></li>
        <li><a href="#" target="_blank"><i class="fa social-icon fa-google-plus"></i>Google +</a></li>
        <li><a href="#" target="_blank"><i class="fa social-icon fa-github"></i>GitHub</a></li>
      </ul>
    </div>
  </div>
</footer>