@import "bootstrap";
@import "themes/peneira";

@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

/* header */

.navbar-default {
	margin-bottom: 0;
}
.navbar-header {
	width: 100%;
}

.brand {
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}

.brand {
	display: inline-block;
}

/* home */

.home-section {
	text-align: center;
	background-image: url('../images/bg3.jpg');
	width:100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 50px 0;
}

/* team */

.team-title {
	margin-bottom: 20px;
}



/* slider */

.item img {
	width: 200px;
	height: 200px;
}

.carousel-inner {
	padding-left: 15%;
	padding-right: 15%;
}

.carousel-control.left, .carousel-control.right {
	background-image:none !important;
	opacity:1;
}

.carousel-control.left {
	top:40%
}

.carousel-control.right {
	top:40%
}

/* comments */

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.comment-author {
	line-height: 50px;
	margin-left: 16px;
}

/* footer */

.footer {
	padding: 50px 0;
}

.footer-list {
	list-style: none;
}

.footer-list li,
.footer-title {
	text-align: left;
}

.footer-list a {
	font-size: 16px;
	line-height: 27px;
}

.social-icon {
	margin-right: 5px;
	font-size: 30px;
}

@media (min-width: 768px) {
	.navbar-default {
		padding: 50px;
	}
	
	.btn-access {
		font-size: 20px;
	}

	.brand {
		font-size: 60px;
		display: inline-block;
	}

	.home-section {
		padding: 250px;
	}

	.home-title {
		font-size: 50px;
	}

	.team-section {
		padding: 200px;
		width: 100%;
	}

	.team-title {
		margin-bottom: 100px;
	}

	.comment-section {
		padding: 200px;
		width: 100%;
		padding-bottom: 200px;
	}

	.comment-title {
		margin-bottom: 100px;
	}
}