footer(class="container footer")
  div(class="col-md-4 text-left")
    h1 Como Usar
    ul
      li
        a(href="#", target="_blank") Olheiros
      li
        a(href="#", target="_blank") Jogadores
  div(class="col-md-4 text-left")
    h1 Company
    ul
      li
        a(href="#", target="_blank") Help
      li
        a(href="#", target="_blank") About us
      li
        a(href="#", target="_blank") Contact
      li
        a(href="#", target="_blank") Careers
  div(class="col-md-4 text-left")
    h1 Social
    ul
      li
        a(href="#", target="_blank") Facebook
      li
        a(href="#", target="_blank") Twitter
      li
        a(href="#", target="_blank") Google +
      li
        a(href="#", target="_blank") GitHub