footer(class="container-fluid footer text-center")
  div(class="container")
    div(class="col-md-4 text-center")
      h1(class="footer-title") Como Usar
      ul(class="footer-list")
        li
          a(href="#", target="_blank") Olheiros
        li
          a(href="#", t text-centerarget="_blank") Jogadores
    div(class="col-md-4 text-center")
      h1(class="footer-title") Company
      ul(class="footer-list")
        li
          a(href="#", target="_blank") Help
        li
          a(href="#", target="_blank") About us
        li
          a(href="#", target="_blank") Contact
        li
          a(href="#", target="_blank") Careers
    div(class="col-md-4 text-center")
      h1(class="footer-title") Social
      ul(class="footer-list")
        li
          a(href="#", target="_blank")
            i(class="fa social-icon fa-facebook")
            | Facebook
        li
          a(href="#", target="_blank")
            i(class="fa social-icon fa-twitter")
            | Twitter
        li
          a(href="#", target="_blank")
            i(class="fa social-icon fa-google-plus")
            | Google +
        li
          a(href="#", target="_blank")
            i(class="fa social-icon fa-github")
            | GitHub